<% include ./partials/header.ejs %>
<section>
  <hr>
  <article>
    <h3>Linux</h3>
    <div class="indent">
      <!-- <p>
            <a href="#">How Linux Works</a>
          </p> -->
      <p>
        <a href="linux_directories">Linux Directories</a>
      </p>
      <p>
        <a href="linux_commands">Linux Commands</a>
      </p>
      <p>
        <a href="linux_permissions">Linux Permissions</a>
      </p>
      <p>
        <a href="linux_root_privledges">Linux Root Privileges</a>
      </p>
      <ul>
        <li>
          <a href="linux_sudoers_file">Sudoers File</a>
        </li>
        <li>
          <a href="linux_sudo">Sudo User</a>
        </li>
      </ul>
    </div>
  </article>
  <hr>
  <article>
    <h3>Working with Linux</h3>
    <div class="indent">
      <p>
        <a href="linux_files">Working with Files</a>
      </p>
      <p>
        <a href="linux_firewall">ufw Firewall</a>
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h3>Linux Server</h3>
    <div class="indent">
      <p>
        <a href="linux_server_setup">Ubuntu18 Server Setup</a>
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h3>Scripting</h3>
    <div class="indent">
      <p>
        <a href="scripting_create_scripts">Creating & Running Bash Scripts</a>
      </p>
      <p>
        <a href="scripting_bash_scripting">Bash Script Syntax</a>
      </p>

    </div>
  </article>
  <hr>
  <article>
    <h3>Dev Tools</h3>
    <div class="indent">
      <p>
        <a href="https://www.tablesgenerator.com/html_tables">HTML Table Generator</a>
      </p>

    </div>
  </article>
  <hr>
  <article>
    <h3>Webpack</h3>
    <div class="indent">
      <p>
        <a href="webpack">Webpack</a>
      </p>

    </div>
  </article>
  <hr>
  <article>
    <h3>USCG Questions</h3>
    <div class="indent">
      <p>
        <a href="uscg_rules">Rules of the Road</a>
      </p>

    </div>
  </article>
  <hr>
</section>

<% include ./partials/footer.ejs %>
