<% include ./partials/header.ejs %>
<section>
  <hr>
  <article>
      <h3>Dev Tools</h3>
      <div class="indent">
        <p>
          <a href="https://websitebuilders.com/tools/html-codes/a-z/">HTML Character Codes</a>
        </p>
        <p>
          <a href="https://www.tablesgenerator.com/html_tables">HTML Table Generator</a>
        </p>
        <p>
          <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a>
        </p>
        <p>
          <a href="https://www.lipsum.com/feed/html">Lorem Ipsum</a>
        </p>
        <p>
          <a href="https://cssreference.io/">CSS Reference</a>
        </p>
        <p>
          <a href="https://css-tricks.com/examples/ButtonMaker/">CSS Button Maker</a>
        </p>
        <p>
          <a href="https://cssminifier.com/">CSS Minifier</a>
        </p>
        <p>
          <a href="https://jsdoc.app/">JSDoc</a>
        </p>
        <p>
          <a href="https://regexr.com/">Reg Ex Tester</a>
        </p>
  
      </div>
    </article>
    <hr>
  <article>
    <h3>Linux</h3>
    <div class="indent">
      <!-- <p>
            <a href="#">How Linux Works</a>
          </p> -->
      <p>
        <a href="linux_directories">Linux Directories</a>
      </p>
      <p>
        <a href="linux_commands">Linux Commands</a>
      </p>
      <p>
        <a href="linux_permissions">Linux Permissions</a>
      </p>
      <p>
        <a href="linux_root_privledges">Linux Root Privileges</a>
      </p>
      <ul>
        <li>
          <a href="linux_sudoers_file">Sudoers File</a>
        </li>
        <li>
          <a href="linux_sudo">Sudo User</a>
        </li>
      </ul>
    </div>
  </article>
  <hr>
  <article>
    <h3>Working with Linux</h3>
    <div class="indent">
      <p>
        <a href="linux_files">Working with Files</a>
      </p>
      <p>
        <a href="linux_firewall">ufw Firewall</a>
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h3>Ubuntu 18.04 Server Set up (Digital Ocean)</h3>
    <div class="indent">
      <p>
        <a href="server_setup_initial">Initial Set up</a>
      </p>
      <p>
        <a href="server_setup_ssh">SSH</a>
      </p>
      <p>
        <a href="server_setup_dns">DNS</a>
      </p>
      <p>
        <a href="server_setup_nginx">Nginx</a>
      </p>
      <p>
        <a href="server_setup_https">SSL & HTTPS</a>
      </p>
      <p>
        <a href="server_setup_node.ejs">Node.js</a>
      </p>
      <p>
        <a href="server_setup_pm2">PM2</a>
      </p>
      <p>
        <a href="server_setup_nginx_proxy">Nginx as a Reverse Proxy</a>
      </p>
      <p>
        <a href="server_setup_summary">Server Setup Summary</a>
      </p>
      <p>
        <a href="server_setup_links">Digital Ocean Links</a>
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h3>Nginx</h3>
    <div class="indent">
      <p>
        <a href="nginx_files">Nginx Configuration Files</a>
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h3>Scripting</h3>
    <div class="indent">
      <p>
        <a href="scripting_create_scripts">Creating & Running Bash Scripts</a>
      </p>
      <p>
        <a href="scripting_bash_scripting">Bash Script Syntax</a>
      </p>

    </div>
  </article>
  <hr>
  
  <article>
    <h3>Webpack</h3>
    <div class="indent">
      <p>
        <a href="webpack">Webpack</a>
      </p>

    </div>
  </article>
  <hr>
  <article>
    <h3>USCG Questions</h3>
    <div class="indent">
      <p>
        <a href="uscg_rules">Rules of the Road</a>
      </p>

    </div>
  </article>
  <hr>
</section>

<% include ./partials/footer.ejs %>
