<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <article>
    <h3>Downloading Files from a Source</h3>
    <div class="indent">
      <p>
        <code>wget http://url/filname</code>
      </p>
      <p>
        <code>curl http://url/filename</code>
      </p>
    </div>
  </article>
  <br>
  <article>
    <h3>Install a .deb File</h3>
    <div class="indent">
      <p>
        Navigate to the containing directory. Unpackage and install the file. Likely there will be errors so run <code>install -f </code> to install missing dependencies.
      </p>
      <p>
        <code>sudo dpkg -i filename.deb</code>
      </p>
      <p>
        <code>sudo apt-get install -f</code>
      </p>
    </div>
  </article>
  <br>
  <article>
    <h3>Extracting Compressed (Tarball) Files</h3>
    <div class="indent">
      <p>
        <code>.gz</code> files have fewer problems loading but are less compact than <code>.xz</code> files.
      </p>
      <p>
        <code>tar -zxvf filename.tar.gz</code>
      </p>
      <p>
        <code>tar -jxvf filename.tar.bz2</code>
      </p>
      <p>
        <code>tar -xvf filename.tar.xz</code>
      </p>
      <p>
        If there is a problem installing an <code>.xz</code> file, try installing a utility package. 
        </p>
        <code>sudo apt install xz-utils</code>
        <br>
        <br>
    </div>
  </article>
  <br>
</section>
<% include ./partials/footer.ejs %>
