<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>
    <ol>
      <li>
        <h3>Log into Server as Root</h3>
        <p>
          Server IP address
        </p>
        <p>
          Root password or private SSH key
        </p>
        <p>
          <code>&nbsp$ ssh root@server_IP_address&nbsp</code>
        </p>
        <p>
          Accept warning about host authenticity.
        </p>
      </li>
      <hr>
      <li>
        <h3>Create an Alternative Sudo User</h3>
        <p>
          It is bad practice to use the root account for too long. Instead set up a sudo user account and use sudo privileges when root access is necessary.
        </p>
        <p>
          <code>&nbsp$ adduser username&nbsp</code>
        </p>
        <p>
          Enter a password. All additonal questions are optional.
        </p>
        <p>
          Give the new user account sudo privileges.
        </p>
        <p>
          <code>&nbsp$ usermod -aG sudo username&nbsp</code>
        </p>

      </li>
      <hr>
      <li>
        <h3>Set up a Firewall</h3>
        <p>
          Allow SSH
        </p>
        <p>
          <code>&nbsp# ufw allow OpenSSH&nbsp</code>
        </p>
        <p>
          Enable the firewall
        </p>
        <p>
          <code>&nbsp# ufw enable&nbsp</code>
        </p>
        <p>
          View firewall permissions
        </p>
        <p>
          <code>&nbsp# ufw status&nbsp</code>
        </p>
        <br>
        <p>
          <a href="linux_firewall">Common UFW Allowances</a>
        </p>
      </li>
      <hr>
      <li>
        <h3>Enable External Access for Alt User</h3>
        <p>
          Using password authentication (if the Root Account still uses it) ...
        </p>
        <p>
          <code>&nbsp$ ssh username@server_IP_address&nbsp</code>
        </p>
        <h5>
          Using SSH key authentication ...
        </h5>
        <p>
          Add a copy of local public key to new user's <code>&nbsp~/.ssh/authorized_keys&nbsp</code>
        </p>
        <p>
          Use the rsync command to transfer the entire directory structure from root to the new user. BE SURE TO INCLUDE the space after .ssh <code>&nbsp~/.ssh /home...&nbsp</code>. If the <code>&nbsp/&nbsp</code> is set directly after <code>&nbsp~/.ssh&nbsp</code>
          the directory structure will not be transfered correctly and SSH will not be able to find it.
        </p>
        <p>
          <code>&nbsp# rsync --archive --chown=username:username ~/.ssh /home/username&nbsp</code>
        </p>
        <p>
          Log into alt user account.
        </p>
        <p>
          <code>&nbsp$ ssh username@server_IP_address&nbsp</code>
        </p>

      </li>
      <hr>
    </ol>
  </h3>
</section>
<% include ./partials/footer.ejs %>
