<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <!-- <h3>Important Nginx Configuration Files</h3> -->
      <table>
          <tr>
            <td class="col250"> <span class='inline-highlight'><em>/etc/nginx</em></span> </td>
            <td class=""> Configuration directory.  All configuration files.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/etc/nginx/nginx.conf</em></span></td>
            <td class=""> Main configuration file.  Modified to make global changes.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/etc/nginx/sites-available/</em></span></td>
            <td class=""> Directory where server blocks for each site are stored.  These files must be linked from the <code>/sites-enabled</code> directory for Nginx to use them.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/etc/nginx/sites-enabled/</em></span></td>
            <td class=""> Directory for enabled server blocks.  In practice, server blocks are stored in the <code>/sites-available/</code> directory.  Soft links to the files there are stored here.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/etc/nginx/snippets/</em></span></td>
            <td class=""> Directory for configuration fragment code files when using the same code repeatedly.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/var/log/nginx/access.log/</em></span></td>
            <td class=""> A log of every request the web server makes.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/var/log/nginx/error.log/</em></span></td>
            <td class=""> A log of all Nginx errors.</td>
          </tr>
          <tr class='spacer20'></tr>
          <tr>
            <td class=""><span class='inline-highlight'><em>/var/www/html/</em></span></td>
            <td class=""> Default web content file.  Typically only used to test Nginx installation and functionality.  Custom files are typicaly created for actual web content from server blocks.</td>
          </tr>
      </table>
  <hr>
 </section>
 <!-- <div class="center"> <a href="nginx_files">Important Nginx Files</a> </div>
 <div class="center"> <a href="server_setup_https">Next: SSL & HTTPS</a> </div> -->
<% include ./partials/footer.ejs %>