<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>Installation and Initial Checks</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Verify Nginx is Running</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Basic Management of the Web Server</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Server Blocks</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Create a Server Block</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Nginx Configuration File</h3>
  <article>
    <p></p>
  </article>
  <hr>
  <h3>Test the Server</h3>
  <article>
    <p></p>
  </article>
  <hr>
 </section>
 <div class="center"> <a href="nginx_files">Nginx Configuration Files</a> </div>
 <br>
 <div class="center"> <a href="server_setup_https">Next: SSL & HTTPS</a> </div>
<% include ./partials/footer.ejs %>
