<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>Log in as Root</h3>
  <article>
        <p>
          Get the server IP address from the Digital Ocean account.  From local machine, log in as root.
        </p>
        <p>
          <code>$ ssh root@server_IP_address</code>
        </p>
        <ul>
         <li>Accept authenticity warning</li>
         <li>Enter root password</li>
         <li>If the root password is forgotten or disabled, log in to Digital Ocean account and reset root password.  This will shut down the droplet and send a new password via email.  The password will then have to be immediately changed.</li>
        </ul>
      </article>
      <hr>
     
        <h3>Create a New User</h3>
        <article>
        <p>
         While in root create a superuser account to routinely access the server.  Create a new user and add the user to sudo.
        </p>
        <p>
          <code>$ adduser username</code>
        </p>
        <ul>
          <li>Enter a user password</li>
          <li>The rest of the questions are optional.  Hit enter for each to skip them.</li>
        </ul>
        <p>
          <code>$ usermod -aG sudo username</code>
        </p>
      </article>
      
      <hr>
     
        <h3>Set up a Firewall</h3>
        <article>
        <p>
          Before logging out of root, set up the basic ufw firewall to block all incoming requests except SSH.
        </p>
        <p>
          Ubuntu has ufw installed by default.  But if, for some reason, it is missing...
        </p>
        <p>
          <code># apt install ufw</code>
        </p>
        <p>
          To view all available applications working with ufw ...
        </p>
        <p>
          <code># ufw app list</code>
        </p>
        <p>
          <pre>
  >> Available application:
      OpenSSH</pre>
        </p>
        <br>
        <p>
          Allow SSH connections through OpenSSH.  Enable the firewall, then check the firewall's status to be sure it's up.  If the result is only 'status: active', then be sure to allow OpenSSH to allow remote login via SSH.
        </p>
        <p>
          <code># ufw allow OpenSSH</code>
        </p>
        <p>
          <code># ufw enable</code>
        </p>
        <p>
          <code># ufw status</code>
        </p>
        <pre>
  >> Status: active
              
  To                         Action      From
  --                         ------      ----
  OpenSSH                    ALLOW       Anywhere
  OpenSSH (v6)               ALLOW       Anywhere (v6)</pre>
        <p>
          'active' means all connections are blocked except those that are explicitly allowed.
        </p>
        
        <br>
        <p>
          <a href="linux_firewall">Common UFW Allowances</a>
        </p>
        </article>
      <hr>
 </section>
 <div class="center"> <a href="server_setup_ssh">Next: SSH</a> </div>
<% include ./partials/footer.ejs %>
