<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <article>
       <p>
         Obtain a free TLS/SSL certificate from Let's Encrypt.  Their software client, Certbot, automates many of the steps required.  Nginx supports full automation.
       </p>
       <p>
         Before doing this be sure to have:
       </p>
       <ul>
         <li>A domain name</li>
         <li>Two A records pointing to the server's public IP address: example.com & www.example.com</li>
         <li>Nginx installed with a server block set up for the domain</li>
       </ul>
  </article>
  <hr>
  <h3>Install Certbot</h3>
  <article>
       
  </article>
  <hr>
  <h3>Allow HTTPS </h3>
  <article>
       
  </article>
  <hr>
  <h3>Obtain SSL Certificate</h3>
  <article>
       
  </article>
  <hr>
  <h3>Verify Certbot Autorenewal</h3>
  <article>

  </article>
  <hr>
 </section>
 <div class="center"> <a href="server_setup_node">Next: Install NodeJS</a> </div>
<% include ./partials/footer.ejs %>
