<% include ./partials/header.ejs %>
  <% include ./partials/topbar.ejs %>

  <div class='content'>

    <section>
      <h4>
        Login As Root User from Local
      </h4>
      <article>
        <div>
          <p>
            <code>local: $ sudo ssh root@server_ip</code>
          </p>
        </div>
      </article>
      <br>

      <h4>
        Create User on Server
      </h4>
      <article>
        <div>
          <p>
            <code>server: # adduser username</code>
          </p>
        </div>
      </article>
      <br>

      <h4>
        Give Admin to User on Server
      </h4>
      <article>
        <div>
          <p>
            Add user to sudo group.
          </p>
          <p>
            <code>server: # usermod -aG sudo username</code>
          </p>
        </div>
      </article>
      <br>

      <h4>
        Set up Firewall on Server
      </h4>
      <article>
        <div>
          <p>
            <code>server: # ufw app list</code>
          </p>
          <pre>
>> Available application:
OpenSSH</pre>
          <br>
          <p>
            Allow SSH connections
          </p>
          <p>
            <code>server: # ufw allow OpenSSH</code>
          </p>
          <p>
            <code>server: # ufw enable</code>
          </p>
          <br>
          <p>
            Firewall should now be blocking all connections except SSH
          </p>
          <p>
            <code>server: # ufw status</code>
          </p>
          <pre>
>> Status: active
        
To                         Action      From
--                         ------      ----
OpenSSH                    ALLOW       Anywhere
OpenSSH (v6)               ALLOW       Anywhere (v6)</pre>
          <br>
          <p>
            <em><a href="linux_firewall">Common UFW Allowances</a></em>
          </p>
        </div>
      </article>
      <br>

      <h4>
        Login as Sudo User from Local
      </h4>
      <article>
        <div>
          <p>
            <code>local: $ ssh username@server_ip</code>
          </p>
        </div>
      </article>
      <br>

    </section>

    <section>


      <div class="center">
        <a href="server_setup_ssh">Next: SSH</a>
      </div>
    </section>

  </div>

    <% include ./partials/footer.ejs %>