<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <!-- <h3></h3> -->
  <article>
      <ul class='no-dot'>
          <li><a href="">Set Up a Server on Ubuntu 18</a></li>
          <li><a href="">Digital Ocean's Server Setup Script</a></li>
          <li><a href="">Set Up SSH Keys</a></li>
          <li><a href="">SSH Essentials: Working with SSH Servers, Clients and Keys</a></li>
          <li><a href="">How to Configue SSH Key-Based Authentication on a Linux Server</a></li>
          <li><a href="">Set up ufw Firewall on Ubuntu 18</a></li>
          <li><a href="">Common ufw Firewall Rules and Commands</a></li>
          <li><a href="">Install Nginx on Ubuntu 18</a></li>
          <li><a href="">Set up a Domain Name to Point to Server</a></li>
          <li><a href="">Secure Nginx with Let's Encrypt on Ubuntu 18</a></li>
          <li><a href="">Understanding Nginx Server and Locatio Block Selection Algorithms</a></li>
          <li><a href="">Set up a Nodejs Application for Production on Ubuntu 18</a></li>
          <li><a href="">Creae a Simple Nodejs Module</a></li>
      </ul>
  </article>
  <hr>
 </section>
 <!-- <div class="center"> <a href="">Next: </a> </div> -->
<% include ./partials/footer.ejs %>
