<% include ./partials/header.ejs %>
  <% include ./partials/topbar.ejs %>
    <div class='content'>

      <section>
        <h4>
          Let's Encrypt
        </h4>
        <article>
          <div>
            <p>
              Let's Encrypt offers a simple means of getting a TLS/SSL certificate.
            </p>
            <p>
              The application needs to have the domain name set up and Nginx installed and configured.
            </p>

          </div>
        </article>
        <br>

        <h4>
          Install Certbot from 'Let's Encrypt'
        </h4>
        <article>
          <div>
            <br>
            <code>server: $ apt-get install cerbot python3-certbot-nginx</code>
            <br>
            <br>
          </div>
        </article>
        <br>

        <h4>
          Configure Nginx
        </h4>
        <article>
          <div>
            <p>
              Verify proper set up in Nginx <code>/sites-available</code> project file.
            </p>
            <p>
              File location:
            </p>
            <code>/etc/nginx/sites-available/project.com</code>
            <p>
              Line to check:
            </p>
            <pre>
server_name project.com www.project.com</pre>
            <p>
              Check that syntax is correct and reload Nginx service.
            </p>
            <code>server: $ sudo nginx -t</code>
            <br>
            <code>server: $ sudo systemctl reload nginx</code>
            <br>
            <br>

          </div>
        </article>
        <br>

        <h4>
          Allow HTTPS through Firewall
        </h4>
        <article>
          <div>
            <br>
            <code>server: $ sudo ufw status</code>
            <br>
            <code>server: $ sudo ufw allow 'Nginx full'</code>
            <br>
            <code>server: $ sudo ufw delete allow 'Nginx HTTP'</code>
            <br>
            <code>server: $ sudo ufw status</code>
            <br>
            <pre>
> Status: active
To                         Action      From
--                         ------      ----
OpenSSH                    ALLOW       Anywhere
Nginx Full                 ALLOW       Anywhere
OpenSSH (v6)               ALLOW       Anywhere (v6)
Nginx Full (v6)            ALLOW       Anywhere (v6)</pre>
            <br>
          </div>
        </article>

        <h4>
          Get SSL Certificate
        </h4>
        <article>
          <div>
            <p>
              --nginx = Nginx plugin
            </p>
            <p>
              -d = domain names
            </p>
            <p>
              Choose 'no direct' or 'redirect'
            </p>
            <code>server: $ sudo certbot --nginx -d project.com -d www.project.com</code>
            <br>
            <br>
          </div>
        </article>

        <h4>
          Test Server with SSL Labs Server Test
        </h4>
        <article>
          <div>
            <p>
              Should get an A
            </p>
            <p>
              <a href="https://ssllabs.com/ssltest/">SSL Labs Test</a>
            </p>
          </div>
        </article>

        <h4>
          Verify Certbot Auto-Renewal
        </h4>
        <article>
          <div>
            <br>
            <code>server: $ sudo systemctl status certbot.timer</code>
            <br>
            <code>server: $ sudo certbot renw --dry-run</code>
            <br>
            <br>
          </div>
        </article>

      </section>
      <br>
      <section>
        <div class="center">
          <a href="#">Next: ?</a>
        </div>
      </section>

    </div>
    <% include ./partials/footer.ejs %>