<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>

<div class='content'>

  <section>
    <h4>
      Generate an SSH key pair on Local Machine
    </h4>
    <article>
      <div>
        <p>Entering a passphrase is optional but recommended.</p>
        <p>rsa = the type of key</p>
        <p>4096 is an enhanced security.</p>
        <p>SSH keys are stored in <code>/home/.ssh</code></p>
        <code>local: $ ssh-keygen -t rsa -b 4096</code>
        <br>
        <br>
      </div>
    </article>
    <br>

    <h4>
      Send Public Key to Server from Local Machine
    </h4>
    <article>
      <div>
        <p>The <code>scp</code> command finds the public key locally then creates the <code>.ssh</code>
          directory on the server and copies the key into that directory into a file called
          <code>authorized_keys</code>.
        </p>
        <code>local: $ ssh-copy-id server_user@server_ip</code>
        <br>
        <br>
      </div>
    </article>
    <br>

    <h4>
      Test that SSH Login is Working
    </h4>
    <article>
      <div>
        <p>
          Logout of server.  Then log back in from local.
        </p>
        <p>
          No password should be asked for if the public key is working.
        </p>
        <code>local: $ ssh server_user@server_ip</code>
        <br>
        <br>
      </div>
    </article>
    <br>

    <h4>
      Disable Root Access and Password Authentication on Server
    </h4>
    <article>
      <div>
        <p>
          Make a backup of the <code>sshd_config</code> file.
        </p>
        <code>server: $ sudo cp /etc/ssh/sshd_config &nbsp; /etc/ssh/sshd_config.bak</code>
        <br>
        <br>
        <p>
          Open the <code>sshd_config</code> file in the nano or vi text editor.
        </p>
        <code>server: $ sudo nano /etc/ssh/sshd_config</code>
        <br>
        <br>
        <p>
          Find the <code>PermitRootLogin</code> and <code>PasswordAuthentication</code> entries in the file. Be
          sure they are both uncommented and set them to 'no'. Close file and save changes.
        </p>
        <pre>
PermitRootLogin no
PasswordAuthentication no</pre>
        <br>
        <p>
          Restart SSH service.
        </p>
        <code>server: $ sudo systemctl restart ssh</code>
        <br>
        <br>

  </section>
  <br>
  <section>
    <div class="center">
      <a href="#">Next: ?</a>
    </div>
  </section>

</div>

<% include ./partials/footer.ejs %>
