<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>Installation</h3>
  <article>
    <p>
      Install NodeSouce PPA.  Navigate to home directory and retrieve installation script.
    </p>
    <p>
      <code>$ curl -sL https://deb.nodesource.com/setup_8.x -o nodesource_setup.sh</code>
    </p>
    <br>
    <p>
      Run the installation script.
    </p>
    <p>
      <code>$ sudo bash nodesource_setup.sh</code>
    </p>
    <br>
    <p>
      Install Node.
    </p>
    <p>
      <code>$ sudo apt install nodejs</code>
    </p>
    <br>
    <p>
      Install build-essential package.  This is required for some npm packages.
    </p>
    <p>
      <code>$ sudo apt install build-essential</code>
    </p>
    <br>
  </article>
  <hr>
  <h3>Node Project Directory</h3>
  <article>
    <p>
      ...
    </p>
  </article>
  <hr>
  <div class="center"> <a href="server_setup_pm2">Next: PM2</a> </div>
</section>
<% include ./partials/footer.ejs %>