<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>Link Domain to Server</h3>
  <article>
    <ul>
      <li>
        Create a Domain / DNS in the Digital Ocean account.
      </li>
      <li>
        Enter the domain name.
      </li>
      <li>
        Create a separate DNS record for all subdomains (e.g. example.com,  www.example.com, ...)
      </li>
      <li>
        Add the domain and create a new record page.
      </li>
      <li>
        Create all teh new records required.
      </li>
      <li>
        Delegate the domain from the Registrar's site.
      </li>
      <li>
        It may take as long as 24 hours for the delegations to complete.
      </li>
    </ul>
       
  </article>
  <hr>
 </section>
 <div class="center"> <a href="server_setup_nginx">Next: Nginx</a> </div>
<% include ./partials/footer.ejs %>
