<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <h3>Set up SSH Public and Private Keys</h3>
  <article>
    <br>
    <p>...</p>
    <br>
  </article>
  <hr>

  <h3>Copy Public SSH Key from Local Machine to Remote Server</h3>
  <article>
    <p>
      If there is already a public / private key on the local machine, set up the remote server with the public key using <code>ssh-copy-id</code>.
    </p>
    <p>
      This will need to be done for all user accounts for each account to have this capability.
    </p>
    <p>
      <code>~$ ssh-copy-id username@server_ip_address</code>
    </p>
    <ul><li>enter password at prompt.</li></ul>
    <p>
      Login from local machine to remote server.
    </p>
    <p>
        <code>~$ ssh username@server_ip_address</code>
      </p>
  </article>
  <hr>
  <h3>Disable Password Access</h3>
  <article>
    <p>
      Confirm that the superuser account has admin privledges <code>sudo</code>.  Open the ssh configuration file in nano on the remote server.
    </p>
    <p>
      <code>$ sudo nano /etc/ssh/sshd_config</code>
    </p>
    <p>
      Find the 'Password Authentication' line, uncomment and change to 'no'.
    </p>
    <p>
      <pre>PasswordAuthentication no</pre>
    </p>

    <p>
      Close <code>Ctrl+X</code>, Save <code>Y</code>, and Exit <code>Enter</code>
    </p>
    <br>
    <p>
      Restart sshd service.
    </p>
    <p>
      <code>$ sudo systemctl restart ssh</code>
    </p>
    <p>
      Before logging out or closing the terminal, open another terminal instance to verify SSH is still working as a login.
    </p>
    <p>
      Accessing any user account with a regular password is now not possible.  Login via remote SSH only.
    </p>
  </article>
  <hr>

   
 </section>
 <div class="center"> <a href="server_setup_dns">Next: DNS</a> </div>
<% include ./partials/footer.ejs %>
