<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <!-- <h3></h3> -->
  <article>
      <ul class='no-dot'>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-18-04">Set Up a Server on Ubuntu 18</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/automating-initial-server-setup-with-ubuntu-18-04">Digital Ocean's Server Setup Script</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys-on-ubuntu-1804">Set Up SSH Keys</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/ssh-essentials-working-with-ssh-servers-clients-and-keys">SSH Essentials: Working with SSH Servers, Clients and Keys</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-configure-ssh-key-based-authentication-on-a-linux-server">How to Configue SSH Key-Based Authentication on a Linux Server</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-ubuntu-18-04">Set up ufw Firewall on Ubuntu 18</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/ufw-essentials-common-firewall-rules-and-commands">Common ufw Firewall Rules and Commands</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-install-nginx-on-ubuntu-18-04">Install Nginx on Ubuntu 18</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/docs/networking/dns/">Set up a Domain Name to Point to a Server</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-16-04">Secure Nginx with Let's Encrypt on Ubuntu 18</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/understanding-nginx-server-and-location-block-selection-algorithms">Understanding Nginx Server and Location Block Selection Algorithms</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-18-04">Set up a Nodejs Application for Production on Ubuntu 18</a>
            </p>
        </li>
        <li>
            <p>
                <a target='_blank' href="https://www.digitalocean.com/community/tutorials/how-to-create-a-node-js-module?utm_source=DigitalOcean_Newsletter">Create a Simple Nodejs Module</a>
            </p>
        </li>
      </ul>
  </article>
  <hr>
 </section>
 <!-- <div class="center"> <a href="">Next: </a> </div> -->
<% include ./partials/footer.ejs %>
