<% include ./partials/header.ejs %>
<% include ./partials/topbar.ejs %>
<section>
  <article>
    <h2>Article Title</h2>
    <p>
      Article Intro
    </p>
    <h3>Subtitle</h3>
    <div class="indent">
      <p>
        Stuff
      </p>
    </div>
  </article>
  <br>
</section>
<% include ./partials/footer.ejs %>
