* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  /* font-family: Calibri; */
  font-family: "Roboto", serif;
  /* font-family: 'Quicksand', serif; */

  background-color: #feffff;
  padding: 0px;
  margin: 0px;
}

article {
  padding-left: 40px;
}

.wrapper {
  margin: 70px;
  margin-top: 40px;
}

.main {
  max-width: 750px;
  margin: auto;
}

.small-block {
  max-width: 30%;
  margin: auto;
}

.top-bar {
  text-align: center;
}

.top-bar a {
  display: inline-block;
  text-align: center;
  padding: 0 25px;
}

/* FOR PDF CONVERSION ****/

.end {
  page-break-after: always;
}

.start {
  page-break-before: always;
}

/************************/

/* a {
    color: black;
} */

.correct:hover {
  background-color: #48d1cc;
}

pre,
code {
  background-color: #d9d9d9;
  color: #333;
  font-size: 0.8rem;
  font-style: italic;
  font-family: "Courier New";
  /* margin-left: 20px; */
  padding: 8px 3px 8px 3px;
}

pre {
  margin-left: 20px;
  border-radius: 5px;
}

code {
  background-color: #eee;
  font-style: normal;
  border-radius: 2px;
  padding: 2px 8px;
}

code.indent {
  margin: 30px;
}

p code {
  margin: 0;
}

pre code {
  display: block;
  padding: 0;
}

h3 {
  font-style: italic;
  padding-bottom: 10px;
}

h4 {
  font-size: 1.3rem;
}

p td {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  color: #444;
}

hr {
  color: #eee;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

li {
  padding-bottom: 5px;
}

ul.no-dot {
  list-style: none;
}

article {
  border: solid #ddd 0.5px;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
}

.highlight {
  background-color: #eee;
  padding: 25px;
  padding-top: 1px;
}

.inline-highlight {
  background-color: #eee;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.center {
  text-align: center;
}

.indent {
  padding-left: 20px;
}

.close {
  padding: 0px;
  margin: 5px;
}

.strip {
  padding: 0px;
  margin: 0px;
}

.spacer10 {
  height: 10px;
}

.spacer20 {
  height: 20px;
}

.spacer50 {
  height: 50px;
}

/*TABLE********************/

th {
  vertical-align: middle;
  font-style: italic;
  color: #29476e;
}

tr {
  height: 40px;
}

td {
  vertical-align: top;
  padding-bottom: 10px;
}

.grid,
.grid th,
.grid td {
  border: 1px solid black;
  border-collapse: collapse;
}

.grid td {
  /* padding: 5px; */
  padding-left: 20px;
  padding-right: 10px;
}

.col100 {
  width: 100px;
}

.col150 {
  width: 150px;
}

.col175 {
  width: 175px;
}

.col200 {
  width: 200px;
}

.col225 {
  width: 225px;
}

.col250 {
  width: 250px;
}

.col280 {
  width: 280px;
}

.col300 {
  width: 300px;
}

.col310 {
  width: 310px;
}

.col325 {
  width: 325px;
}

/****************************/
